<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Forgot Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    
    <body style="background-color:rgba(216, 168, 106, 0.514)">
        <form method ="post" action ="/forgot" id="forgot">
            <h2 style="margin-bottom: 10px;">Forgot Password</h2>
            <input type="email" name="email"  placeholder="Enter your email" required> <br>
            <% if(error){ %>
                <strong><span id="err" style="color: rgb(230, 43, 43);"><%=error%></span></strong>
                <br>
            <% } %> 
            <input type="submit" class="btn btn-success" style="margin-bottom:10px; display: inline-block;"  value="Submit">
            <br><br>
            <a href="/signup" class="btn btn-primary" style="margin-top: -10px; margin-left: 3%;">Sign Up here</a>&nbsp;&nbsp;
            <a href="/login" class="btn btn-primary" style="margin-top: -10px; margin-left: 3%;">Login here</a>
        </form>
    </body>

</html>